.bg-color{
    background-color: #012D6A;
    width: 100%;
    height: 108px;
}
h1{
    font-size: 32px;
    font-weight: bold;
}
.image img{
    width: 279px;
    height: 85px;
}
.search{
    border-radius: 10px;
    border: 1px white solid;
    width: 583.8px;
    height: 54.6px;  
}
input::placeholder{
    padding: 3%;
}
.back-button{
    background-color: #1B4279;
    color: white;
}
.fa-arrow-right{
    color: white;

}
@media screen and (max-width:1022px){
    .search{
        width: 450.8px;
        height: 50.6px;  
    }
    h1{
        font-size: 25px;
    }
}
@media screen and (max-width:886px){
    .search{
        width: 250.8px;
        height: 50.6px;  
    }
    h1{
        font-size: 18px;
    }
}
@media screen and (max-width:430px){
    .search{
        width: 120.8px;
        height: 40.6px;  
    }
    h1{
        font-size: 12px;
    }
    .image img{
        width: 500px;
        height: 85px;
    }
}