.main-row{
    width: 100%; 
    height: 290px;   
}
button{
    width: 112px;
    height: 35px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #F5F7FA;
    color: #012D6A;
}
.font-hlat{
    font-size: 20px;
}
hr{
    width: 130px;
}
button:hover{
    background-color: #012D6A;
    color: #F5F7FA;
}
h2{
    font-weight: bold;
    color: #002D6A;
    font-size: 30px;
}
p{
    font-weight: bold;
    font-size: 16px;
    color: #6681A6;
}
h3{
    font-weight: bold;
    font-size: 30px;
    color: #4AA000;
}
.col1{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /*width: 400px;*/
}
.col4{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.border-l{
    border: 2px #F5F7FA solid;
}
.pie-chart ,.pie-chart-incoming,.pie-chart-remaining,.pie-chart-outgoing,.pie-chart-interior,.pie-chart-specialization,
.pie-chart-radio{
    position: relative;
    width: 168.5px; 
    height: 168.6px;
    border-radius:100%;
    border: white 6px solid;
    background: conic-gradient(
        #012D6A 0% 87.8%,
        #F5F7FA 87.8% 100% 
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.pie-chart-inner {
    position: absolute;
    width: 140px; 
    height: 140px;
    background: white; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: bold;
    color: #012D6A;
}

.pie-chart-remaining {

    background: conic-gradient(
        #BFA25D 0% 25%,
        #e0e0e0 25% 100% 
    );
}
.pie-chart-total {
    position: relative;
    width: 222.8px; 
    height: 222.9px;
    border-radius:100%;
    border: white 5px solid;
    background: conic-gradient(
        #012D6A 0% 83%, 
        #BB3837 84% 100% 
    );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.pie-chart-total-inner {
    position: absolute;
    width: 202px; 
    height: 202px;
    background: white; 
    border-radius: 50%;
    font-size: 29px;
    align-items: center;
    justify-content: center;
    
}
.pie-chart-incoming{
    background: conic-gradient(
        #012D6A 0% 49%,
        #F5F7FA 50% 100% 
    );
}
.pie-chart-outgoing .pie-chart-inner,.pie-chart-radio .pie-chart-inner ,.pie-chart-remaining .pie-chart-inner{
    color: #BFA25D;
}
.pie-chart-interior .pie-chart-inner{
    color: #FC7242;
}
.pie-chart-outgoing{
    background: conic-gradient(
        #BFA25D 0% 21%,
        #F5F7FA 22% 100% 
    );
}
.pie-chart-interior{
    background: conic-gradient(
        #FC7242 0% 28%,
        #F5F7FA 29% 100% 
    );
}
.pie-chart-specialization{
    background: conic-gradient(
        #012D6A 0% 53%,
        #F5F7FA 54% 100% 
    );
}
.pie-chart-radio{
    background: conic-gradient(
        #BFA25D 0% 46%,
        #F5F7FA 47% 100% 
    );
}
.ontime{
    font-size: 29px;
    color: #012D6A;
}
.late{
    font-size: 29px;
    color: #BB3837;
}

@media screen and (min-width:438px){
    button {
        width: 40px;
        height: 22px;
        font-size: 8px;
      }
    
      h2 {
        font-size: 18px;
      }
      hr{
          width: 40px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 12px;
      }
    
      p {
        font-size: 6px;
      }
    
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 60px;
        height: 60px;
        margin: 4px auto;
      }
      .font-hlat{
        font-size: 14px;
      }
      .pie-chart-inner {
        width: 40px;
        height: 40px;
        font-size: 12px;
      }
      .pie-chart-inner1,.pie-chart-inner2,.pie-chart-inner3 {
        width: 40px;
        height: 40px;
        font-size: 11px;
      }
    
      .pie-chart-total {
        width: 120px;
        height: 120px;
      }
    
      .pie-chart-total-inner {
        width: 100px;
        height: 100px;
        font-size: 12px;
      }
}
/* @media only screen and (max-width: 600px) {
    button {
        width: 60px;
        height: 25px;
        font-size: 9px;
      }
    
      h2 {
        font-size: 20px;
      }
      hr{
          width: 60px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 16px;
      }
    
      p {
        font-size: 10px;
      }
    
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 80px;
        height: 80px;
        margin: 6px auto;
      }
    
      .pie-chart-inner {
        width: 60px;
        height: 60px;
        font-size: 14px;
      }
      .pie-chart-inner1,.pie-chart-inner2,.pie-chart-inner3 {
        width: 60px;
        height: 60px;
        font-size: 13px;
      }
    
      .pie-chart-total {
        width: 140px;
        height: 140px;
      }
    
      .pie-chart-total-inner {
        width: 120px;
        height: 120px;
        font-size: 14px;
      }
  } */
  
  @media only screen and (min-width: 600px) {
    button {
        width: 60px;
        height: 25px;
        font-size: 9px;
      }
    
      h2 {
        font-size: 20px;
      }
      hr{
          width: 60px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 16px;
      }
    
      p {
        font-size: 10px;
      }
      .font-hlat{
        font-size: 16px;
      }
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 80px;
        height: 80px;
        margin: 6px auto;
      }
    
      .pie-chart-inner {
        width: 60px;
        height: 60px;
        font-size: 14px;
      }
      .pie-chart-inner1,.pie-chart-inner2,.pie-chart-inner3 {
        width: 60px;
        height: 60px;
        font-size: 13px;
      }
    
      .pie-chart-total {
        width: 140px;
        height: 140px;
      }
    
      .pie-chart-total-inner {
        width: 120px;
        height: 120px;
        font-size: 14px;
      }
  }
  
  @media only screen and (min-width: 768px) {
    
    button {
        width: 80px;
        height: 30px;
        font-size: 10px;
      }
      .font-hlat{
        font-size: 18px;
      }
    
      h2 {
        font-size: 22px;
      }
      hr{
          width: 80px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 18px;
      }
    
      p {
        font-size: 12px;
      }
    
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 90px;
        height: 90px;
        margin: 8px auto;
      }
    
      .pie-chart-inner {
        width: 70px;
        height: 70px;
        font-size: 16px;
      }
      .pie-chart-inner1,.pie-chart-inner2,.pie-chart-inner3 {
        width: 70px;
        height: 70px;
        font-size: 15px;
      }
    
      .pie-chart-total {
        width: 160px;
        height: 160px;
      }
    
      .pie-chart-total-inner {
        width: 140px;
        height: 140px;
        font-size: 16px;
      }
} 
  
  @media only screen and (min-width: 992px) {
    
    button {
        width: 100px;
        height: 30px;
        font-size: 11px;
      }
    
      h2 {
        font-size: 24px;
      }
      hr{
          width: 100px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 20px;
      }
    
      p {
        font-size: 14px;
      }
    
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 140px;
        height: 140px;
        margin: 10px auto;
      }
    
      .pie-chart-inner {
        width: 120px;
        height: 120px;
        font-size: 18px;
      }
    
      .pie-chart-total {
        width: 180px;
        height: 180px;
      }
    
      .pie-chart-total-inner {
        width: 160px;
        height: 160px;
        font-size: 18px;
      }
  } 
  
  @media only screen and (min-width: 1200px) {
    button {
        width: 112px;
        height: 35px;
        font-size: 12px;
      }
    
      h2 {
        font-size: 30px;
      }
      hr{
          width: 130px;
      }
    
      h3, .pie-chart-inner, .ontime, .late {
        font-size: 30px;
      }
    
      p {
        font-size: 16px;
      }
    
      .pie-chart, .pie-chart-incoming, .pie-chart-remaining, .pie-chart-outgoing, 
      .pie-chart-interior, .pie-chart-specialization, .pie-chart-radio {
        width: 168.5px;
        height: 168.6px;
        margin: 20px auto;
      }
    
      .pie-chart-inner {
        width: 140px;
        height: 140px;
        font-size: 29px;
      }
    
      .pie-chart-total {
        width: 222.8px;
        height: 222.9px;
      }
    
      .pie-chart-total-inner {
        width: 202.8px;
        height: 202.9px;
      }
  
}
  